.main-nav {
    height: 10vh;
    width: 50vw;
    border:2px solid black;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}
    
.push {
    margin-left:10px;
}
li{
    height: 20px;
    width: 90px;
    border:2px solid black;
    margin: 2px;

}