div{
    height: 10vh;
    width:10vw;
    border: 3px  solid rgb(1, 1, 11);
    margin:10px;
}
div:nth-of-type(1)
{
    background-color: #cc1188;
}
div:nth-of-type(2)
{
    background-color: rgb(44,555,9);
}

article{
    font-size: 20px;
}
ul{
    font-size: 2rem;
}
